@model PaginatedList<RestaurantBooking.Models.MenuCategory>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewData["Title"] = "Index";
    ViewData["Active"] = "MenuCategory";

}


<div>
    <h5>Daftar Menu</h5>
    
    <div class="d-flex justify-content-between align-items-center">
        @using (Html.BeginForm("Index", "MenuCategory", FormMethod.Get))
        {
            <div class="my-5 d-flex align-items-center">
                <div class="me-2">
                    Cari kategori menu: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                    <input type="submit" value="Search" />
                </div>
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewBag.CurrentSort"
                   asp-route-pageNumber="@(Model.PageIndex)"
                   asp-route-currentFilter="" class="btn btn-link text-danger">Clear</a>
            </div>
        }
        <a asp-action="Create" class="btn btn-primary"><i class="fas fa-plus"></i> Tambah Kategori</a>
    </div>
    Page @(Model.TotalPages < Model.PageIndex ? 0 : Model.PageIndex) of @Model.TotalPages
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">
                    @Html.ActionLink("Nama", "Index", new { sortOrder = "Title", currentFilter = ViewBag.CurrentFilter })
                </th>
                <th scope="col">
                    @Html.ActionLink("Jenis", "Index", new { sortOrder = "MenuType", currentFilter = ViewBag.CurrentFilter })
                </th>
                <th scope="col">Deskripsi</th>
                <th scope="col">Action</th>

            </tr>
        </thead>
        <tbody>

            @foreach (var menuCategory in Model)
            {
                <tr>
                    <td>@menuCategory.Title</td>
                    <td>@(menuCategory.MenuType == 0 ? "Makanan" : "Minuman")</td>
                    <td>@menuCategory.Description</td>
                    <td class="d-flex">
                        <a asp-action="Detail" asp-route-id="@menuCategory.ID" asp-controller="MenuCategory" type="button" class="btn btn-success me-2"><i class="fas fa-eye"></i></a>
                        <a type="button" asp-action="Edit" asp-route-id="@menuCategory.ID" asp-controller="MenuCategory" class="btn btn-primary me-2"><i class="fas fa-edit"></i></a>
                        @using (Html.BeginForm("Delete", "MenuCategory", new { id = menuCategory.ID }, FormMethod.Post))
                        {
                            <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i></button>
                        }
                    </td>
                </tr>
            }

        </tbody>
    </table>
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

    <a asp-action="Index"
       asp-route-sortOrder="@ViewBag.CurrentSort"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewBag.CurrentFilter"
       class="btn btn-outline-primary @prevDisabled">
        Previous
    </a>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewBag.CurrentSort"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewBag.CurrentFilter"
       class="btn btn-outline-primary @nextDisabled">
        Next
    </a>
</div>

